:root {
    --md-default-fg-color:               hsla(0, 100%, 100%, 0.9);
    --md-default-fg-color--light:        hsla(0, 100%, 100%, 0.9);
    --md-default-fg-color--lighter:      hsla(0, 100%, 100%, 0.9);
    --md-default-fg-color--lightest:     #222C3C;
    --md-default-bg-color:               #222C3C;
    --md-default-bg-color--light:        #222C3C;
    --md-default-bg-color--lighter:      #222C3C;
    --md-default-bg-color--lightest:     #222C3C;

    --md-accent-fg-color:                #9BA8BD;

    --md-primary-fg-color:               #F98E35;
    --md-primary-fg-color--dark:         #F98E35;

    --md-code-fg-color:                  hsla(0, 100%, 100%, 0.9);
    --md-code-bg-color:                  #1A202C;

}