/*noinspection ALL,CssUnusedSymbol*/
.react-flow__controls-button {
    background: #1A202C;
    border-color: #1A202C;
    fill: white
}

/*noinspection ALL,CssUnusedSymbol*/
.react-flow__controls-button:hover {
    background-color: #131820;
}

.react-flow__minimap svg path {
    fill: #131820aa
}
